<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple HTML HomePage</title>
  </head>

<body>
  <header class="header">

  </header>
  <main>
    <div class="intro">
      <h1>3 Simple Steps</h1>
    </div>
    <div class="Features">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Register</p>
        <p class="work-text">Prospect User. Using this option, you can create and register for digital wallet from the bank portal.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Withdraw</p>
        <p class="work-text"> To withdraw using our web wallet, click Send at the top of your wallet dashboard.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Transfer</p>
        <p class="work-text"> To withdraw using our web wallet, click Send at the top of your wallet dashboard.</p>
      </div>
    </div>

  </main>
  <footer class="footer">
    <div class="copy">© 2023 Wallet</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>
